<div class="uk-section">
  <div class="uk-container">
    <h1 id="content" class="uk-heading-divider">Todo管理アプリケーション</h1>
    <div id="container"></div>
  </div>
</div>
<%= javascript_pack_tag 'todos' %>
